.container {
    margin-top: 10rem;
}

.icon {
    color: #007eff;
    font-size: 2.5rem !important;
}

.title {
    background: -webkit-linear-gradient(#314755 0%, #26a0da 51%, #314755 100%);
    font-weight: 800;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}